#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#main {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

form {
  width: 60%;
}

.btn {
  background-color: rgb(49,35,171);
  border: rgb(49,35,171);
}

.bs-icon-xl.bs-icon-circle.bs-icon-primary.bs-icon {
  background-color: rgb(49,35,171);
}

.text-muted {
  color: rgba(255,255,255,0.75) !important;
}

.container-content {
  margin-top: 6rem;
  height: 100%;
  width: 100%;
}

.profil {
  border-radius: 50%;
}

.info-content {
  width: 100%;
}

.name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat {
  width: 100%;
  height: 65vh;
}

.message {
  width: 70%;
}

.send-message {
  width: 100%;
}

.send {
  background-color: green;
}

.my-card {
  background-color: rgb(245,245,245);
}

row {
  width: 100%;
}

.text-receive {
  background-color: rgba(59,59,61,0.7);
  color: white;
  border-radius: 0.2rem;
}

.text-send {
  background-color: var(--bs-blue);
  color: white;
  border-radius: 0.2rem;
}

/* ---- */

section {
  width: 100%;
  min-height: 100vh;
}

.chat1 {
  width: 50%;
}

.message-box {
  width: 100%;
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
}

.from-message {
  width: 50%;
  min-height: 7vh;
}

.content-top {
  width: 100%;
  height: 6vh;
}

.message1 {
  min-height: 10vh;
}

.date {
  height: 5vh;
}

.text-message {
  width: 100%;
  height: 80%;
}

.profile {
  width: 60px;
  height: 60px;
}

.btn {
  height: 5vh;
}

textarea {
  width: 90% !important;
}

